# 忽略配置文件（账号、密码、敏感信息）
*.yml
*.yaml
*.properties
*.env
.env
config.js
ftp-config.properties
API接口文档.md

# 前端依赖 & 打包文件
node_modules/
dist/
dist-ssr/
*.local

# 后端编译文件
target/
*.class
*.log

# IDE 配置文件
.idea/
*.iml
*.iws
*.ipr

# 系统垃圾文件
.DS_Store
Thumbs.db